.containerFinal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    z-index: 10;

}

.modal {

    background-color: #e6e2e2;
    border-radius: 15px;
    min-width: 15%;
    height: 12%;
    display: flex;
    cursor: pointer;
    flex-direction: column;
    color: #151515;
    padding: 20px 30px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 10px
}