.container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    z-index:10;
    opacity: 0;
    animation: fadeIn 0.5s forwards;

}
.modal{
    display: flex;
    background-color: #d6d6d6;
    max-width: 40%;
    flex-direction: column;
    padding: 20px;
    color: black;
    border-radius: 10px;
    animation: scaleUp 0.3s forwards;

}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes scaleUp {
    to {
        transform: scale(1);
        opacity: 1;
    }
}